.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  /* color: #555; */
}
.appbar {
  display: flex;
  align-items: center;
}
.logo {
  max-width: 80px;
}
.title {
  padding-left: 10px;
  max-width: 200px;
}
.divider {
  height: 2px;
  width: 100%;
  background-color: #eeeeee;
}
.table-title {
  /* display: flex; */
  text-align: center;
  font-weight: bolder;
  /* width: 100%; */
  background-color: #eeeeee;
}
.th {
  font-weight: bolder;
  /* display: flex; */
  width: 200px;
}
.colon {
  font-weight: bolder;
  /* display: flex; */
  /* flex: 1; */
  width: 20px;
}
.isi {
  text-align: left;
}
.table-kegiatan {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}
.p-10 {
  margin-top: 20px;
}
